.write_head {
  margin-top: 50px;
  line-height: 50px;
  font-family: "DO Hyeon";
  text-align: center;
  font-size: 40px;

}

.write_in {
  font-family: "BMJUA";
 font-size: 20px;
  margin-left: 8%;
  margin-top: 10px;
}

// .write_in2 {
//   font-family: "BMJUA";
//   margin-bottom: 10px;
// }
// .write_in3 {
//   font-family: "BMJUA";
//   margin-bottom: 10px;
// }
// .write_in4 {
//   font-family: "BMJUA";
//   margin-bottom: 10px;
// }
// .write_in5 {
//   font-family: "BMJUA";
//   margin-bottom: 10px;
// }
.call_id{
  margin-top: 10px;
}

.write_writer {
  margin-bottom: 10px;
    padding-left: 10px;
  height: 2rem;
  font-family: "BMJUA";
 margin-left: 8%;
  margin-top: 10px;
  width: 80%;
  text-align: left;
  border-radius: 10px;
  text-align: left;
  background: white;
  border: none;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.write_title {
  margin-bottom: 10px;
  padding-left: 10px;
  height: 2rem;
  font-family: "BMJUA";
 margin-left: 8%;
  margin-top: 10px;
  width: 80%;
  text-align: left;
  border-radius: 10px;
  text-align: left;
  background: white;
  border: none;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.G_button{
  text-align: center;

}
.write_content {
  padding-left: 10px;
  margin-bottom: 10px;
  height: 6rem;
  font-family: "BMJUA";
 margin-left: 8%;
  margin-top: 10px;
  width: 80%;
  text-align: left;
  border-radius: 10px;
  resize: none;
  background: white;
  border: none;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.write_location {
  padding-left: 10px;
  margin-bottom: 10px;
  height: 2rem;
  font-family: "BMJUA";
 margin-left: 8%;
  margin-top: 10px;
  width: 80%;
  text-align: left;
  border-radius: 10px;
 
  background: white;
  border: none;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.write_time {
  padding-left: 10px;
  margin-bottom: 10px;
  height: 2rem;
  font-family: "BMJUA";
 margin-left: 8%;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 80%;
  text-align: left;
  border-radius: 10px;

  background: white;
  border: none;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

// #write_toG {
//   width: 120px;
//     height: 48px;
//     font-size: 20px;
//     font-weight: 600;
//     cursor: pointer;
//     border: none;
//     font-family: "BMJUA";
//     background: #f1c204;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//     border-radius: 10px;
// }

// .write_id {
//   margin-bottom: 10px;
//   height: 2rem;
//   border-radius: 3px;
//  margin-left: 8%;
//   margin-top: 10px;
//   border: none;
//   width: 80%;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   font-family: "BMJUA";
//   text-align: left;
//   background: white;
//   font-size: 20px;
//   font-weight: 500;
//   border-radius: 10px;

// }

// .mokrok {
//   width: 120px;
//     height: 48px;
//     font-size: 20px;
//     font-weight: 600;
//     cursor: pointer;
//     border: none;
//     font-family: "BMJUA";
//     background: #f1c204;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//     border-radius: 10px;

// }

// .mokrok:hover {
//   scale: 0.95;
//   transition: 0.3s;
// }

// .mokrok {
//   transition: 0.3s;
// }

.write_Btn {
  margin-right: 25px;
  width: 107px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  font-family: "BMJUA";
  background: #f1c204;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.wrG_Btn{
  margin-left: 25px;
    width: 107px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    font-family: "BMJUA";
    background: #f1c204;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.write_Btn:hover {
  scale: 0.95;
  transition: 0.3s;
}

.write_Btn {
  transition: 0.3s;
}

// #write_toG:hover {
//   scale: 0.95;
//   transition: 0.3s;
// }

// #write_toG {
//   transition: 0.3s;
// }

// #write_done {
//   margin-left: 18%;
//   margin-right: 15%;
// }
#write_mokloc {}